<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<body>
<h1>Add New Course</h1>


<%= form_with scope: :course, url: courses_path, local: true do |form| %>

  <% if @course.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@course.errors.count, "error") %> Invalid Input
    </h2>
    <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= form.label :section_no %><br></br>
    <%= form.text_field :section_no %>
  </p>

  <p>
    <%= form.label :course_title %><br></br>
    <%= form.text_area :course_title %>
  </p>

  <p>
    <%= form.label :semester %><br></br>
    <%= form.text_area :semester %>
  </p>

  <p>
    <%= form.label :instructor %><br></br>
    <%= form.text_area :instructor %>
  </p>

  <p>
    <%= form.label :grader %><br></br>
    <%= form.select :grader, options_for_select([['Yes', true], ['No', false]])%>
  </p>

  <p>
    <%= form.submit %>
  </p>



<% end %>
<p><%= link_to 'Courses Page', controller: 'courses' %></p>
</body>
</html>
